body {
    margin: 0;
    padding: 0;
    max-width: 52rem;
    margin: auto;
    font-family: arial;
}

header {
    margin-top: 0.5rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

small {
    opacity: 0.6;
    font-size: 0.6rem;
}

.button {
    color: rgb(95, 28, 177);
    cursor: pointer;
}

.flexy {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.halfwidth {
    min-width: 320px;
    margin: auto;
    margin-right: 0 auto;
    width: 50%;
}